@import 'src/styles/variables';

$background-color: $background-color-icons;
$border-color: $background-color-main-2;
$button-large-size: $round-button-size-default;
$button-medium-size: ($round-button-size-default / 3) * 2;
$button-small-size: $round-button-size-default / 3;

.button {

  padding: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  background-color: $background-color;
  border-radius: 50%;
  border-color: $border-color;

  &--large {
    width: $button-large-size;
    height: $button-large-size;
  }

  &--medium {
    width: $button-medium-size;
    height: $button-medium-size;
  }

  &--small {
    width: $button-small-size;
    height: $button-small-size;
  }
}

.button:hover {
  cursor: pointer;
}

.image {
  width: 100%;
  height: auto;
}
